:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: (0, 0, 0, 0);
	color: rgb(239, 239, 241);
	font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.nunito {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
}

@supports (font-variation-settings: normal) {
	.nunito {
		font-family: 'Nunito Variable', sans-serif;
		font-variation-settings: 'wght' 900;
	}
}

button {
	all: unset;
}

button {
	display: inline-block;
	color: #eef;
	font-size: 1rem;
	padding: 1rem;
	background: #4b4753;
	border-radius: 1rem;
	font-weight: bold;
	text-decoration: none;
	transition: all 80ms ease-out;
	cursor: pointer;
}

button:hover,
button:active {
	background: #696473;
}
